/********************
 * General settings *
 ********************/
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    font-size: 62.5%;
  }
  header {
    top: 0;
    text-align: center;
    padding: 2em 0;
    background: gray;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    line-height: 1.8;
  }
  
  main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 100%;
    max-width: 1000px;
    flex-grow: 1;
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    font-size: 1.8rem;
  }
  .title{
      color: black;
  }
  h1 {
    font-weight: 400;
    color: white;
    font-size: 3.5rem;
    margin-bottom: 0.5em;
  }
  .japan{
      color: black;
  }
     /******************
      ** Nav Settings **
      ******************/
  nav {
    --nav-main-color: black;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 2em;
  }
  
  nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--nav-main-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0.5em 0;
    transition: 0.5s;
  }
  
  nav a:hover,
  nav a:focus {
    color: var(--nav-hover-color);
  }
  
  .current-page {
    border-bottom: 1px solid currentColor;
  }
  
  /**************
   *** Footer ***
   **************/
  
  footer {
    background: #393939;
    color: #fff;
    text-transform: capitalize;
    padding: 0.8em;
    font-size: 1.6rem;
    text-align: center;
  }
 
  